body,
p,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

body {
    background: black;
    display: flex;
}

h1 {
    padding: 30px 10px;
    margin: 0;
}

* {
    box-sizing: border-box;
}

ul,
ol {
    margin: 0;
}

.slide {
    /* height: 100dvh; */
    position: relative;
    width: 100dvw;
    padding: 0;
    margin: auto 0;
    display: none;
    aspect-ratio: 16/9;
}

.slide.active {
    display: block;
}

.label,
.image,
.custom-element {
    position: absolute;
}

.image {
    max-width: 100dvw;
    max-height: 100dvh;
    object-fit: contain;
    object-position: center;
}

.flex {
    display: flex;
}

.horizontal-center {
    display: flex;
    justify-content: center;
    width: 100%;
}
