body {
    padding: 0;
    margin: 0;
}

.slide {
    height: 100dvh;
    width: 100dvw;
    padding: 0;
    margin: 0;
}

.label,
.image {
    position: absolute;
}

.image {
    max-width: 100dvw;
    max-height: 100dvh;
    object-fit: contain;
    object-position: center;
}

.flex {
    display: flex;
}

.horizontal-center {
    display: flex;
    justify-content: center;
    width: 100%;
}
