body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

ul,
ol {
    margin: 0;
}

.slide {
    height: 100dvh;
    width: 100dvw;
    padding: 0;
    margin: 0;
    display: none;
}

.slide.active {
    display: block;
}

.label,
.image,
.custom-element {
    position: absolute;
}

.image {
    max-width: 100dvw;
    max-height: 100dvh;
    object-fit: contain;
    object-position: center;
}

.flex {
    display: flex;
}

.horizontal-center {
    display: flex;
    justify-content: center;
    width: 100%;
}

#code { 
 }
#code-bg {
            

        }
#code-bg-img {

object-fit: cover;

}
#code-bg-lbl {

color: rgb(255, 255, 255, 1);
}
#threads { 
 }
#threads-bg {
            

        }
#threads-bg-img {

object-fit: cover;

}
#threads-bg-lbl {

color: rgb(255, 255, 255, 1);
}
#frozen { 
 }
#frozen-bg {
            

        }
#frozen-bg-img {

object-fit: cover;

}
#frozen-bg-lbl {

color: rgb(255, 255, 255, 1);
}
#title { 
 }
#title-title {

text-align: center;
}
#title-subtitle {

text-align: center;
}
#toc { 
 }
#toc-toc {

}
#toc-page {

}
#example { 
 }
#example-bg {
            

        }
#example-bg-img {

object-fit: cover;

}
#example-bg-lbl {

color: rgb(255, 255, 255, 1);
}
#example-page {

color: rgb(255, 255, 255, 1);
}
#example-text {

}
#one_sided_sync { 
 }
#one_sided_sync-page {

color: rgb(255, 255, 255, 1);
}
#one_sided_sync-text {

}
.label {

font-family: "Roboto";

}
.slide {
background: rgb(243, 243, 243, 1);


}
.page_number {

text-align: center;

}
