body,
p,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

body {
    background: black;
    display: flex;
}

h1 {
    padding: min(30px, 2%) min(10px, 0.7%);
    margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

* {
    box-sizing: border-box;
}

ul,
ol {
    margin: 0;
}

.slide {
    width: calc(min(100dvw, 100dvh * 16 / 9));
    --slide-width: calc(min(100dvw, 100dvh * 16 / 9));
    height: calc(min(100dvh, 100dvw * 9 / 16));
    --slide-height: calc(min(100dvh, 100dvw * 9 / 16));
    position: relative;
    padding: 0;
    margin: auto 0;
    display: none;
    overflow: hidden;
}

.slide.active {
    display: block;
}

.label,
.image,
.custom-element,
.grid,
.flex {
    position: absolute;
    overflow: hidden;
}

.emphasis {
    font-style: italic;
}

.strong {
    font-weight: bold;
}

.label {
    font-size: calc(1.0 * min(16 * 4dvh, 9 * 4dvw) / 16);
    font-weight: normal;
    color: inherit;
}

.image {
    max-width: 100dvw;
    max-height: 100dvh;
    object-fit: contain;
    object-position: center;
}

.grid {
    display: grid;
}

.grid>* {
    width: 100%;
    height: 100%;
    position: relative;
}

.flex {
    display: flex;
}

.flex>* {
    width: 100%;
    height: 100%;
    position: relative;
}

.flex>.label {
    flex-basis: content;
}

.horizontal-center {
    display: flex;
    justify-content: center;
    width: 100%;
}


.invisible {
    display: none;
}

#code-bg {
    top: 0px;
    bottom: 0px;
    height: 100%;
    left: 0px;
    right: 0px;
    width: 100%;
    z-index: 0;
}

#code-bg-img {
    top: 0px;
    bottom: 0px;
    height: 100%;
    left: 0px;
    right: 0px;
    width: 100%;
}

#code-bg-img {
    object-fit: cover;
}

#code-bg-lbl {
    bottom: 0px;
    top: unset;
    right: 0px;
    left: unset;
}

#code-bg-lbl, #code-bg-lbl .label-text {
    color: rgb(255, 255, 255, 1);
    font-size: calc(0.8 * min(16 * 4dvh, 9 * 4dvw) / 16);
}

#threads-bg {
    top: 0px;
    bottom: 0px;
    height: 100%;
    left: 0px;
    right: 0px;
    width: 100%;
    z-index: 0;
}

#threads-bg-img {
    top: 0px;
    bottom: 0px;
    height: 100%;
    left: 0px;
    right: 0px;
    width: 100%;
}

#threads-bg-img {
    object-fit: cover;
}

#threads-bg-lbl {
    bottom: 0px;
    top: unset;
    right: 0px;
    left: unset;
}

#threads-bg-lbl, #threads-bg-lbl .label-text {
    color: rgb(255, 255, 255, 1);
    font-size: calc(0.8 * min(16 * 4dvh, 9 * 4dvw) / 16);
}

#frozen-bg {
    top: 0px;
    bottom: 0px;
    height: 100%;
    left: 0px;
    right: 0px;
    width: 100%;
    z-index: 0;
}

#frozen-bg-img {
    top: 0px;
    bottom: 0px;
    height: 100%;
    left: 0px;
    right: 0px;
    width: 100%;
}

#frozen-bg-img {
    object-fit: cover;
}

#frozen-bg-lbl {
    bottom: 0px;
    top: unset;
    right: 0px;
    left: unset;
}

#frozen-bg-lbl, #frozen-bg-lbl .label-text {
    color: rgb(255, 255, 255, 1);
    font-size: calc(0.8 * min(16 * 4dvh, 9 * 4dvw) / 16);
}

#title-title {
    bottom: calc(0.5 * var(--slide-height));
    top: unset;
    left: 0px;
    right: 0px;
    width: 100%;
    z-index: 0;
}

#title-title, #title-title .label-text {
    text-align: center;
    font-size: calc(2.5 * min(16 * 4dvh, 9 * 4dvw) / 16);
}

#title-subtitle {
    top: calc(0.5 * var(--slide-height));
    bottom: unset;
    left: calc(0.15 * var(--slide-width));
    right: calc(0.15 * var(--slide-width));
    width: calc(+ 100%+ (-0.3 * var(--slide-width)));
    z-index: 1;
}

#title-subtitle, #title-subtitle .label-text {
    color: rgb(89, 89, 89, 1);
    text-align: center;
    font-size: calc(1.3 * min(16 * 4dvh, 9 * 4dvw) / 16);
}

#toc-page_number {
    bottom: 0px;
    top: unset;
    left: 50%;
    right: unset;
    transform: translate(-50%, 0%);
    z-index: 999;
}

#toc-page_number, #toc-page_number .label-text {
    color: rgb(0, 0, 0, 1);
    text-align: center;
}

#toc-toc {
    z-index: 0;
}

#example-page_number {
    bottom: 0px;
    top: unset;
    left: 50%;
    right: unset;
    transform: translate(-50%, 0%);
    z-index: 999;
}

#example-page_number, #example-page_number .label-text {
    color: rgb(255, 255, 255, 1);
    text-align: center;
}

#example-bg {
    top: 0px;
    bottom: 0px;
    height: 100%;
    left: 0px;
    right: 0px;
    width: 100%;
    z-index: 0;
}

#example-bg-img {
    top: 0px;
    bottom: 0px;
    height: 100%;
    left: 0px;
    right: 0px;
    width: 100%;
    filter: brightness(0.4);
}

#example-bg-img {
    object-fit: cover;
}

#example-bg-lbl {
    bottom: 0px;
    top: unset;
    right: 0px;
    left: unset;
}

#example-bg-lbl, #example-bg-lbl .label-text {
    color: rgb(255, 255, 255, 1);
    font-size: calc(0.8 * min(16 * 4dvh, 9 * 4dvw) / 16);
}

#example-text {
    z-index: 1;
}

#example-text, #example-text .label-text {
    color: rgb(255, 255, 255, 1);
}

#one_sided_sync-page_number {
    bottom: 0px;
    top: unset;
    left: 50%;
    right: unset;
    transform: translate(-50%, 0%);
    z-index: 999;
}

#one_sided_sync-page_number, #one_sided_sync-page_number .label-text {
    color: rgb(0, 0, 0, 1);
    text-align: center;
}

#one_sided_sync-text {
    z-index: 0;
}

#base_problem-page_number {
    bottom: 0px;
    top: unset;
    left: 50%;
    right: unset;
    transform: translate(-50%, 0%);
    z-index: 999;
}

#base_problem-page_number, #base_problem-page_number .label-text {
    color: rgb(0, 0, 0, 1);
    text-align: center;
}

#base_problem-content {
    top: calc(0.2 * var(--slide-height));
    bottom: calc(0.2 * var(--slide-height));
    height: calc(+ 100%+ (-0.4 * var(--slide-height)));
    left: calc(0.1 * var(--slide-width));
    right: calc(0.1 * var(--slide-width));
    width: calc(+ 100%+ (-0.2 * var(--slide-width)));
    z-index: 0;
}

#base_problem-content {
    flex-direction: column;
}

#base_problem-content-flex-42 {
    height: 50%;
}

#base_problem-content-flex-42 {
    flex-direction: row;
}

#base_problem-content-flex-42-flex-33 {
    flex-direction: column;
}

#base_problem-content-flex-42-flex-33--body {
    height: 100%;
    width: 100%;
}

#base_problem-content-flex-42-flex-33--body {
    flex-direction: row;
}

#base_problem-content-flex-42-flex-33--body--27 {
    width: 50%;
}

#base_problem-content-flex-42-flex-33--body--icon {
    height: 100%;
    width: 100%;
}

#base_problem-content-flex-42-flex-33--body--29 {
    width: 50%;
}

#base_problem-content-flex-42-flex-33--body--icon {
    height: 100%;
    width: 100%;
}

#base_problem-content-flex-42-flex-33-label-32, #base_problem-content-flex-42-flex-33-label-32 .label-text {
    text-align: center;
}

#base_problem-content-flex-42-flex-41 {
    flex-direction: column;
}

#base_problem-content-flex-42-flex-41--body {
    height: 100%;
    width: 100%;
}

#base_problem-content-flex-42-flex-41--body {
    flex-direction: row;
}

#base_problem-content-flex-42-flex-41--body--35 {
    width: 50%;
}

#base_problem-content-flex-42-flex-41--body--icon {
    height: 100%;
    width: 100%;
}

#base_problem-content-flex-42-flex-41--body--37 {
    width: 50%;
}

#base_problem-content-flex-42-flex-41--body--icon {
    height: 100%;
    width: 100%;
}

#base_problem-content-flex-42-flex-41-label-40, #base_problem-content-flex-42-flex-41-label-40 .label-text {
    text-align: center;
}

#continous_checking-page_number {
    bottom: 0px;
    top: unset;
    left: 50%;
    right: unset;
    transform: translate(-50%, 0%);
    z-index: 999;
}

#continous_checking-page_number, #continous_checking-page_number .label-text {
    color: rgb(0, 0, 0, 1);
    text-align: center;
}

#continous_checking-content {
    top: calc(0.2 * var(--slide-height));
    bottom: calc(0.2 * var(--slide-height));
    height: calc(+ 100%+ (-0.4 * var(--slide-height)));
    left: calc(0.1 * var(--slide-width));
    right: calc(0.1 * var(--slide-width));
    width: calc(+ 100%+ (-0.2 * var(--slide-width)));
    z-index: 0;
}

#continous_checking-content {
    flex-direction: column;
}

#continous_checking-content-flex-59 {
    height: 30%;
}

#continous_checking-content-flex-59 {
    flex-direction: row;
}

#continous_checking-content-flex-59--body {
    height: 100%;
    width: 100%;
}

#continous_checking-content-flex-59--body {
    flex-direction: row;
}

#continous_checking-content-flex-59--body--48 {
    width: 30%;
}

#continous_checking-content-flex-59--body--icon {
    height: 100%;
    width: 100%;
}

#continous_checking-content-flex-59--body--50 {
    width: 30%;
}

#continous_checking-content-flex-59--body--icon {
    height: 100%;
    width: 100%;
}

#continous_checking-content-flex-59--body {
    height: 100%;
    width: 100%;
}

#continous_checking-content-flex-59--body {
    flex-direction: row;
}

#continous_checking-content-flex-59--body--54 {
    width: 30%;
}

#continous_checking-content-flex-59--body--icon {
    height: 100%;
    width: 100%;
}

#continous_checking-content-flex-59--body--56 {
    width: 30%;
}

#continous_checking-content-flex-59--body--icon {
    height: 100%;
    width: 100%;
}

#continous_checking-content-flex-72 {
    height: 30%;
}

#continous_checking-content-flex-72 {
    flex-direction: row;
}

#continous_checking-content-flex-72--body {
    height: 100%;
    width: 100%;
}

#continous_checking-content-flex-72--body {
    flex-direction: row;
}

#continous_checking-content-flex-72--body--61 {
    width: 30%;
}

#continous_checking-content-flex-72--body--icon {
    height: 100%;
    width: 100%;
}

#continous_checking-content-flex-72--body--63 {
    width: 30%;
}

#continous_checking-content-flex-72--body--icon {
    height: 100%;
    width: 100%;
}

#continous_checking-content-flex-72--body {
    height: 100%;
    width: 100%;
}

#continous_checking-content-flex-72--body {
    flex-direction: row;
}

#continous_checking-content-flex-72--body--67 {
    width: 30%;
}

#continous_checking-content-flex-72--body--icon {
    height: 100%;
    width: 100%;
}

#continous_checking-content-flex-72--body--69 {
    width: 30%;
}

#continous_checking-content-flex-72--body--icon {
    height: 100%;
    width: 100%;
}

#continous_checking-content-flex-83 {
    height: 30%;
}

#continous_checking-content-flex-83 {
    flex-direction: row;
}

#continous_checking-content-flex-83-flex-76 {
    flex-direction: row;
}

#continous_checking-content-flex-83-flex-76--icon {
    height: 100%;
    width: 100%;
}

#continous_checking-content-flex-83--body {
    height: 100%;
    width: 100%;
}

#continous_checking-content-flex-83--body {
    flex-direction: row;
}

#continous_checking-content-flex-83--body--78 {
    width: 30%;
}

#continous_checking-content-flex-83--body--icon {
    height: 100%;
    width: 100%;
}

#continous_checking-content-flex-83--body--80 {
    width: 30%;
}

#continous_checking-content-flex-83--body--icon {
    height: 100%;
    width: 100%;
}

#occasional_checking_1-page_number {
    bottom: 0px;
    top: unset;
    left: 50%;
    right: unset;
    transform: translate(-50%, 0%);
    z-index: 999;
}

#occasional_checking_1-page_number, #occasional_checking_1-page_number .label-text {
    color: rgb(0, 0, 0, 1);
    text-align: center;
}

#occasional_checking_1-content {
    top: calc(0.2 * var(--slide-height));
    bottom: calc(0.2 * var(--slide-height));
    height: calc(+ 100%+ (-0.4 * var(--slide-height)));
    left: calc(0.1 * var(--slide-width));
    right: calc(0.1 * var(--slide-width));
    width: calc(+ 100%+ (-0.2 * var(--slide-width)));
    z-index: 0;
}

#occasional_checking_1-content {
    flex-direction: column;
}

#occasional_checking_1-content-flex-100 {
    height: 30%;
}

#occasional_checking_1-content-flex-100 {
    flex-direction: row;
}

#occasional_checking_1-content-flex-100--body {
    height: 100%;
    width: 100%;
}

#occasional_checking_1-content-flex-100--body {
    flex-direction: row;
}

#occasional_checking_1-content-flex-100--body--89 {
    width: 30%;
}

#occasional_checking_1-content-flex-100--body--icon {
    height: 100%;
    width: 100%;
}

#occasional_checking_1-content-flex-100--body--91 {
    width: 30%;
}

#occasional_checking_1-content-flex-100--body--icon {
    height: 100%;
    width: 100%;
}

#occasional_checking_1-content-flex-100--body {
    height: 100%;
    width: 100%;
}

#occasional_checking_1-content-flex-100--body {
    flex-direction: row;
}

#occasional_checking_1-content-flex-100--body--95 {
    width: 30%;
}

#occasional_checking_1-content-flex-100--body--icon {
    height: 100%;
    width: 100%;
}

#occasional_checking_1-content-flex-100--body--97 {
    width: 30%;
}

#occasional_checking_1-content-flex-100--body--icon {
    height: 100%;
    width: 100%;
}

#occasional_checking_1-content-flex-113 {
    height: 30%;
}

#occasional_checking_1-content-flex-113 {
    flex-direction: row;
}

#occasional_checking_1-content-flex-113--body {
    height: 100%;
    width: 100%;
}

#occasional_checking_1-content-flex-113--body {
    flex-direction: row;
}

#occasional_checking_1-content-flex-113--body--102 {
    width: 30%;
}

#occasional_checking_1-content-flex-113--body--icon {
    height: 100%;
    width: 100%;
}

#occasional_checking_1-content-flex-113--body--104 {
    width: 30%;
}

#occasional_checking_1-content-flex-113--body--icon {
    height: 100%;
    width: 100%;
}

#occasional_checking_1-content-flex-113--body {
    height: 100%;
    width: 100%;
}

#occasional_checking_1-content-flex-113--body {
    flex-direction: row;
}

#occasional_checking_1-content-flex-113--body--108 {
    width: 30%;
}

#occasional_checking_1-content-flex-113--body--icon {
    height: 100%;
    width: 100%;
}

#occasional_checking_1-content-flex-113--body--110 {
    width: 30%;
}

#occasional_checking_1-content-flex-113--body--icon {
    height: 100%;
    width: 100%;
}

#occasional_checking_1-content-flex-126 {
    height: 30%;
}

#occasional_checking_1-content-flex-126 {
    flex-direction: row;
}

#occasional_checking_1-content-flex-126--body {
    height: 100%;
    width: 100%;
}

#occasional_checking_1-content-flex-126--body {
    flex-direction: row;
}

#occasional_checking_1-content-flex-126--body--115 {
    width: 30%;
}

#occasional_checking_1-content-flex-126--body--icon {
    height: 100%;
    width: 100%;
}

#occasional_checking_1-content-flex-126--body--117 {
    width: 30%;
}

#occasional_checking_1-content-flex-126--body--icon {
    height: 100%;
    width: 100%;
}

#occasional_checking_1-content-flex-126--body {
    height: 100%;
    width: 100%;
}

#occasional_checking_1-content-flex-126--body {
    flex-direction: row;
}

#occasional_checking_1-content-flex-126--body--121 {
    width: 30%;
}

#occasional_checking_1-content-flex-126--body--icon {
    height: 100%;
    width: 100%;
}

#occasional_checking_1-content-flex-126--body--123 {
    width: 30%;
}

#occasional_checking_1-content-flex-126--body--icon {
    height: 100%;
    width: 100%;
}

#occasional_checking_2-page_number {
    bottom: 0px;
    top: unset;
    left: 50%;
    right: unset;
    transform: translate(-50%, 0%);
    z-index: 999;
}

#occasional_checking_2-page_number, #occasional_checking_2-page_number .label-text {
    color: rgb(0, 0, 0, 1);
    text-align: center;
}

#occasional_checking_2-content {
    top: calc(0.2 * var(--slide-height));
    bottom: calc(0.2 * var(--slide-height));
    height: calc(+ 100%+ (-0.4 * var(--slide-height)));
    left: calc(0.1 * var(--slide-width));
    right: calc(0.1 * var(--slide-width));
    width: calc(+ 100%+ (-0.2 * var(--slide-width)));
    z-index: 0;
}

#occasional_checking_2-content {
    flex-direction: column;
}

#occasional_checking_2-content-flex-143 {
    height: 30%;
}

#occasional_checking_2-content-flex-143 {
    flex-direction: row;
}

#occasional_checking_2-content-flex-143--body {
    height: 100%;
    width: 100%;
}

#occasional_checking_2-content-flex-143--body {
    flex-direction: row;
}

#occasional_checking_2-content-flex-143--body--132 {
    width: 30%;
}

#occasional_checking_2-content-flex-143--body--icon {
    height: 100%;
    width: 100%;
}

#occasional_checking_2-content-flex-143--body--134 {
    width: 30%;
}

#occasional_checking_2-content-flex-143--body--icon {
    height: 100%;
    width: 100%;
}

#occasional_checking_2-content-flex-143--body {
    height: 100%;
    width: 100%;
}

#occasional_checking_2-content-flex-143--body {
    flex-direction: row;
}

#occasional_checking_2-content-flex-143--body--138 {
    width: 30%;
}

#occasional_checking_2-content-flex-143--body--icon {
    height: 100%;
    width: 100%;
}

#occasional_checking_2-content-flex-143--body--140 {
    width: 30%;
}

#occasional_checking_2-content-flex-143--body--icon {
    height: 100%;
    width: 100%;
}

#occasional_checking_2-content-flex-154 {
    height: 30%;
}

#occasional_checking_2-content-flex-154 {
    flex-direction: row;
}

#occasional_checking_2-content-flex-154--icon {
    height: 100%;
    width: 100%;
}

#occasional_checking_2-content-flex-154--icon {
    height: 100%;
    width: 100%;
}

#occasional_checking_2-content-flex-154--body {
    height: 100%;
    width: 100%;
}

#occasional_checking_2-content-flex-154--body {
    flex-direction: row;
}

#occasional_checking_2-content-flex-154--body--149 {
    width: 30%;
}

#occasional_checking_2-content-flex-154--body--icon {
    height: 100%;
    width: 100%;
}

#occasional_checking_2-content-flex-154--body--151 {
    width: 30%;
}

#occasional_checking_2-content-flex-154--body--icon {
    height: 100%;
    width: 100%;
}

#occasional_checking_2-content-flex-165 {
    height: 30%;
}

#occasional_checking_2-content-flex-165 {
    flex-direction: row;
}

#occasional_checking_2-content-flex-165-flex-158 {
    flex-direction: row;
}

#occasional_checking_2-content-flex-165-flex-158--icon {
    height: 100%;
    width: 100%;
}

#occasional_checking_2-content-flex-165--body {
    height: 100%;
    width: 100%;
}

#occasional_checking_2-content-flex-165--body {
    flex-direction: row;
}

#occasional_checking_2-content-flex-165--body--160 {
    width: 30%;
}

#occasional_checking_2-content-flex-165--body--icon {
    height: 100%;
    width: 100%;
}

#occasional_checking_2-content-flex-165--body--162 {
    width: 30%;
}

#occasional_checking_2-content-flex-165--body--icon {
    height: 100%;
    width: 100%;
}

#checking_when_requested-page_number {
    bottom: 0px;
    top: unset;
    left: 50%;
    right: unset;
    transform: translate(-50%, 0%);
    z-index: 999;
}

#checking_when_requested-page_number, #checking_when_requested-page_number .label-text {
    color: rgb(0, 0, 0, 1);
    text-align: center;
}

#checking_when_requested-content {
    top: calc(0.2 * var(--slide-height));
    bottom: calc(0.2 * var(--slide-height));
    height: calc(+ 100%+ (-0.4 * var(--slide-height)));
    left: calc(0.1 * var(--slide-width));
    right: calc(0.1 * var(--slide-width));
    width: calc(+ 100%+ (-0.2 * var(--slide-width)));
    z-index: 0;
}

#checking_when_requested-content {
    flex-direction: column;
}

#checking_when_requested-content-flex-182 {
    height: 30%;
}

#checking_when_requested-content-flex-182 {
    flex-direction: row;
}

#checking_when_requested-content-flex-182--body {
    height: 100%;
    width: 100%;
}

#checking_when_requested-content-flex-182--body {
    flex-direction: row;
}

#checking_when_requested-content-flex-182--body--171 {
    width: 30%;
}

#checking_when_requested-content-flex-182--body--icon {
    height: 100%;
    width: 100%;
}

#checking_when_requested-content-flex-182--body--173 {
    width: 30%;
}

#checking_when_requested-content-flex-182--body--icon {
    height: 100%;
    width: 100%;
}

#checking_when_requested-content-flex-182--body {
    height: 100%;
    width: 100%;
}

#checking_when_requested-content-flex-182--body {
    flex-direction: row;
}

#checking_when_requested-content-flex-182--body--177 {
    width: 30%;
}

#checking_when_requested-content-flex-182--body--icon {
    height: 100%;
    width: 100%;
}

#checking_when_requested-content-flex-182--body--179 {
    width: 30%;
}

#checking_when_requested-content-flex-182--body--icon {
    height: 100%;
    width: 100%;
}

#checking_when_requested-content-flex-195 {
    height: 30%;
}

#checking_when_requested-content-flex-195 {
    flex-direction: row;
}

#checking_when_requested-content-flex-195--body {
    height: 100%;
    width: 100%;
}

#checking_when_requested-content-flex-195--body {
    flex-direction: row;
}

#checking_when_requested-content-flex-195--body--184 {
    width: 30%;
}

#checking_when_requested-content-flex-195--body--icon {
    height: 100%;
    width: 100%;
}

#checking_when_requested-content-flex-195--body--186 {
    width: 30%;
}

#checking_when_requested-content-flex-195--body--icon {
    height: 100%;
    width: 100%;
}

#checking_when_requested-content-flex-195--body {
    height: 100%;
    width: 100%;
}

#checking_when_requested-content-flex-195--body {
    flex-direction: row;
}

#checking_when_requested-content-flex-195--body--190 {
    width: 30%;
}

#checking_when_requested-content-flex-195--body--icon {
    height: 100%;
    width: 100%;
}

#checking_when_requested-content-flex-195--body--192 {
    width: 30%;
}

#checking_when_requested-content-flex-195--body--icon {
    height: 100%;
    width: 100%;
}

#checking_when_requested-content-flex-205 {
    height: 30%;
}

#checking_when_requested-content-flex-205 {
    flex-direction: row;
}

#checking_when_requested-content-flex-205--199 {
    height: 100%;
}

#checking_when_requested-content-flex-205--icon {
    height: 100%;
    width: 100%;
}

#checking_when_requested-content-flex-205--201 {
    height: 100%;
}

#checking_when_requested-content-flex-205--icon {
    height: 100%;
    width: 100%;
}

#checking_when_requested-content-flex-205--203 {
    height: 100%;
}

#checking_when_requested-content-flex-205--icon {
    height: 100%;
    width: 100%;
}

#checking_when_requested_without_thread_knowledge-page_number {
    bottom: 0px;
    top: unset;
    left: 50%;
    right: unset;
    transform: translate(-50%, 0%);
    z-index: 999;
}

#checking_when_requested_without_thread_knowledge-page_number, #checking_when_requested_without_thread_knowledge-page_number .label-text {
    color: rgb(0, 0, 0, 1);
    text-align: center;
}

#checking_when_requested_without_thread_knowledge-content {
    top: calc(0.2 * var(--slide-height));
    bottom: calc(0.2 * var(--slide-height));
    height: calc(+ 100%+ (-0.4 * var(--slide-height)));
    left: calc(0.1 * var(--slide-width));
    right: calc(0.1 * var(--slide-width));
    width: calc(+ 100%+ (-0.2 * var(--slide-width)));
    z-index: 0;
}

#checking_when_requested_without_thread_knowledge-content {
    flex-direction: column;
}

#checking_when_requested_without_thread_knowledge-content-flex-222 {
    height: 30%;
}

#checking_when_requested_without_thread_knowledge-content-flex-222 {
    flex-direction: row;
}

#checking_when_requested_without_thread_knowledge-content-flex-222--body {
    height: 100%;
    width: 100%;
}

#checking_when_requested_without_thread_knowledge-content-flex-222--body {
    flex-direction: row;
}

#checking_when_requested_without_thread_knowledge-content-flex-222--body--211 {
    width: 30%;
}

#checking_when_requested_without_thread_knowledge-content-flex-222--body--icon {
    height: 100%;
    width: 100%;
}

#checking_when_requested_without_thread_knowledge-content-flex-222--body--213 {
    width: 30%;
}

#checking_when_requested_without_thread_knowledge-content-flex-222--body--icon {
    height: 100%;
    width: 100%;
}

#checking_when_requested_without_thread_knowledge-content-flex-222--body {
    height: 100%;
    width: 100%;
}

#checking_when_requested_without_thread_knowledge-content-flex-222--body {
    flex-direction: row;
}

#checking_when_requested_without_thread_knowledge-content-flex-222--body--217 {
    width: 30%;
}

#checking_when_requested_without_thread_knowledge-content-flex-222--body--icon {
    height: 100%;
    width: 100%;
}

#checking_when_requested_without_thread_knowledge-content-flex-222--body--219 {
    width: 30%;
}

#checking_when_requested_without_thread_knowledge-content-flex-222--body--icon {
    height: 100%;
    width: 100%;
}

#checking_when_requested_without_thread_knowledge-content-flex-235 {
    height: 30%;
}

#checking_when_requested_without_thread_knowledge-content-flex-235 {
    flex-direction: row;
}

#checking_when_requested_without_thread_knowledge-content-flex-235--body {
    height: 100%;
    width: 100%;
}

#checking_when_requested_without_thread_knowledge-content-flex-235--body {
    flex-direction: row;
}

#checking_when_requested_without_thread_knowledge-content-flex-235--body--224 {
    width: 30%;
}

#checking_when_requested_without_thread_knowledge-content-flex-235--body--icon {
    height: 100%;
    width: 100%;
}

#checking_when_requested_without_thread_knowledge-content-flex-235--body--226 {
    width: 30%;
}

#checking_when_requested_without_thread_knowledge-content-flex-235--body--icon {
    height: 100%;
    width: 100%;
}

#checking_when_requested_without_thread_knowledge-content-flex-235--body {
    height: 100%;
    width: 100%;
}

#checking_when_requested_without_thread_knowledge-content-flex-235--body {
    flex-direction: row;
}

#checking_when_requested_without_thread_knowledge-content-flex-235--body--230 {
    width: 30%;
}

#checking_when_requested_without_thread_knowledge-content-flex-235--body--icon {
    height: 100%;
    width: 100%;
}

#checking_when_requested_without_thread_knowledge-content-flex-235--body--232 {
    width: 30%;
}

#checking_when_requested_without_thread_knowledge-content-flex-235--body--icon {
    height: 100%;
    width: 100%;
}

#checking_when_requested_without_thread_knowledge-content-flex-245 {
    height: 30%;
}

#checking_when_requested_without_thread_knowledge-content-flex-245 {
    flex-direction: row;
}

#checking_when_requested_without_thread_knowledge-content-flex-245--237 {
    height: 100%;
}

#checking_when_requested_without_thread_knowledge-content-flex-245--icon {
    height: 100%;
    width: 100%;
}

#checking_when_requested_without_thread_knowledge-content-flex-245--241 {
    height: 100%;
}

#checking_when_requested_without_thread_knowledge-content-flex-245--icon {
    height: 100%;
    width: 100%;
}

#checking_when_requested_without_thread_knowledge-content-flex-245--243 {
    height: 100%;
}

#checking_when_requested_without_thread_knowledge-content-flex-245--icon {
    height: 100%;
    width: 100%;
}

#resume_one_sided-page_number {
    bottom: 0px;
    top: unset;
    left: 50%;
    right: unset;
    transform: translate(-50%, 0%);
    z-index: 999;
}

#resume_one_sided-page_number, #resume_one_sided-page_number .label-text {
    color: rgb(0, 0, 0, 1);
    text-align: center;
}

#resume_one_sided-title {
    top: 50%;
    bottom: unset;
    left: 0px;
    right: 0px;
    width: 100%;
    transform: translate(0%, -50%);
    z-index: 0;
}

#resume_one_sided-title, #resume_one_sided-title .label-text {
    text-align: center;
    font-size: calc(3 * min(16 * 4dvh, 9 * 4dvw) / 16);
}

#deadlocks-page_number {
    bottom: 0px;
    top: unset;
    left: 50%;
    right: unset;
    transform: translate(-50%, 0%);
    z-index: 999;
}

#deadlocks-page_number, #deadlocks-page_number .label-text {
    color: rgb(0, 0, 0, 1);
    text-align: center;
}

#deadlocks-text {
    z-index: 0;
}

#deadlocks_problem-page_number {
    bottom: 0px;
    top: unset;
    left: 50%;
    right: unset;
    transform: translate(-50%, 0%);
    z-index: 999;
}

#deadlocks_problem-page_number, #deadlocks_problem-page_number .label-text {
    color: rgb(0, 0, 0, 1);
    text-align: center;
}

#deadlocks_problem-base {
    top: calc(0.1 * var(--slide-height));
    bottom: calc(0.1 * var(--slide-height));
    height: calc(+ 100%+ (-0.2 * var(--slide-height)));
    left: calc(0.1 * var(--slide-width));
    right: calc(0.1 * var(--slide-width));
    width: calc(+ 100%+ (-0.2 * var(--slide-width)));
    z-index: 0;
}

#deadlocks_problem-base-amanda {
    top: 50%;
    bottom: unset;
    left: 0px;
    right: unset;
    height: 20%;
    width: 20%;
    transform: translate(0%, -50%);
    z-index: 1;
}

#deadlocks_problem-base-amanda-icon {
    height: 100%;
    width: 100%;
}

#deadlocks_problem-base-bobbl {
    top: 50%;
    bottom: unset;
    right: 0px;
    left: unset;
    height: 20%;
    width: 20%;
    transform: translate(0%, -50%);
}

#deadlocks_problem-base-bobbl-icon {
    height: 100%;
    width: 100%;
}

#deadlocks_problem-base-light {
    bottom: 0px;
    top: unset;
    left: 50%;
    right: unset;
    height: 20%;
    width: 20%;
    transform: translate(-50%, 0%);
}

#deadlocks_problem-base-light-icon {
    height: 100%;
    width: 100%;
}

#deadlocks_problem-base-lift {
    top: 0px;
    bottom: unset;
    left: 50%;
    right: unset;
    height: 20%;
    width: 20%;
    transform: translate(-50%, 0%);
}

#deadlocks_problem-base-lift-icon {
    height: 100%;
    width: 100%;
}

#deadlocks_problem-amanda {
    top: 50%;
    bottom: unset;
    left: 0px;
    right: unset;
    height: 20%;
    width: 20%;
    transform: translate(0%, -50%);
    z-index: 1;
}

#deadlocks_problem-amanda-icon {
    height: 100%;
    width: 100%;
}

.label .label-text {
    color: rgb(89, 89, 89, 1);
}

.label {
    color: rgb(0, 0, 0, 1);
    font-family: "Roboto";
}

.slide {
    padding: calc(0.2 * var(--slide-height)) calc(0.1 * var(--slide-width)) calc(0.2 * var(--slide-height)) calc(0.1 * var(--slide-width));
    background: rgb(243, 243, 243, 1);
}

